
:root {
    /* --bg-ottosay-1: #641B91; */
    --bg-ottosay-1: #641B91;
    --bg-ottosay-2: ##ffffff;
    --bg-otttosay-3: #ffffff;
    --bg-ottosay-4: ##641B91;
    --bg-ottosay-5: #E4C0ED;
    --margin-top: 100px;
}
